.card-container {
  margin: 0;
  padding: 0 20px;
  border-radius: 24px;
  background-color: #f9f9f9;
}

.card-container__title {
  margin: 0;
  padding: 20px 0 24px 0;
  font-family: YandexSansText-Bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.card-container__list {
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container__list-item {
  font-family: YandexSansText-Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.card-container__list-item:not(:last-child) {
  margin-right: 28px;
}

.card-container__list-item_type {
  padding: 12px 24px;
  background-color: #ff0000;
  color: #fefefe;
  border-radius: 100px;
}

.card-container__list-item-paragraph {
  margin: 0;
  padding: 0;
}
